@charset "utf-8";

/* {
    margin: 0;
    padding: 0;
}*/

body {
	font: 16px Georgia, serif;
}

#page-wrap {
	margin: 2% auto;
	color: white;
}

#page-wrap>.main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section.main {
	position: relative;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

section>div {
	padding: 5px;
}

/*header,
section {
    background: #eee;
    text-align: center;
}*/

footer {
	background: rgb(25, 25, 25);
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
}

/*nav span {
    margin: 0px 10px 0px 0px;
    width: 100%;
    display: inline-block;
}*/

#ErrorMsgs {
	color: #f61;
	font-size: smaller;
}

table.table-bordered {
	border: 2px solid black;
}

table.table-bordered>thead>tr>th {
	border: 2px solid black;
}

table.table-bordered>tbody>tr>td {
	border: 2px solid black;
	vertical-align: middle;
}

img.argazkia {
	max-height: 50px;
	max-width: 100px;
}

img.argazkiaLogin {
	max-height: 38px;
	max-width: 50px;
}

fieldset {
	padding: 10px;
	border: 3px solid #999;
}

section {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

div#form {
	text-align: left;
	display: inline-block;
}

div#taula {
	display: inline-block;
}

div#feedback {
	display: inline-block;
	border: 3px solid #999;
}

div#galderaKop {
	display: inline-block;
	border: 3px solid #999;
    padding: 10px;
}

div#erabiltzaileKop {
	display: inline-block;
	border: 3px solid #999;
    padding: 10px;
}

div#jolastu {
	display: inline-block;
}

figure.credits-image {
	display: inline-block;
}

nav.navbar {
	z-index: 1;
	background-color: rgb(25, 25, 25);
	position: fixed;
	width: 100%;
	top: 0;
}